<h2>Recent Locations</h2>

<div class="row">
  <% locations.each do |loc| %>
    <div class="col-4">
      <div class="card mb-4">
        <div class="card-body">
          <div><a href="<%= current_weather_path(loc.id) %>"><%= loc.display_name %></a></div>
          <% if wp = loc.weather_point %>
            <div class="display-3"><%= wp.temp %>&deg;</div>
            <div class="row">
              <div class="col-9"><%= loc.weather_point.condition %></div>
              <div class="col-3">
                <div class="weather-icon small" style="background-image: url('http://openweathermap.org/img/wn/<%= wp.condition_code %>@4x.png');"></div>
              </div>
            </div>
          <% else %>
            <p class="text-muted">Weather N/A</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
